.register-page {
  padding-top: 76px;
  min-height: calc(100vh - 76px);
  background-image: url('../../assets/login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.register-card {
  border: none;
  border-radius: 15px;
  margin-top: 2rem;
}

.register-card .card-body {
  border-radius: 15px;
}

